@import "../abstracts/_variables";
@import "../abstracts/_mixins";
@import "../utils/media-queries";

//hack - shame shame
input {
    text-align: center !important;
}

.mainpage-container {
    @include linear-gradient(map-get($gradient_colors, to), map-get($gradient_colors, from));
}

.currency-input-container {
    p, a {
        margin-left: map-get($margins_for_display, small);
    }
}

.content-wrapper {
    font-size: $mobile-font-size !important;
    margin: map-get($margins_for_display, extra-small);

    // mobile first
    width: map-get($mobile_sizes, input-container) !important;

    @include desktop {
        font-size: $desktop_font_size !important;
        width: map-get($desktop_sizes, input-container) !important;
    }
}
